In [73]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\NAME AVG ROUNDS YEAR.csv'

# Cargar el archivo CSV en un DataFrame
data_frame = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frame.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL STROKES,TOTAL ADJUSTMENT,TOTAL ROUNDS
0,1,0,28237,Rory McIlroy,68.670,4134,-13.830,60
1,2,0,35891,Cameron Smith,69.203,4271,19.612,62
2,3,0,40098,Matt Fitzpatrick,69.217,4865,-19.784,70
3,4,0,46046,Scottie Scheffler,69.293,5787,33.571,84
4,5,0,48081,Xander Schauffele,69.462,4964,37.253,72

In [74]:
# Agregar la columna "YEAR" con el valor "2021"
data_frame['YEAR'] = 2021

In [75]:
# Seleccionar solo las columnas que deseas mantener
columns_to_keep = ['PLAYER_ID', 'PLAYER', 'AVG', 'TOTAL ROUNDS', 'YEAR']
data_frame = data_frame.loc[:, columns_to_keep]

In [76]:
data_frame.head()

   PLAYER_ID             PLAYER     AVG  TOTAL ROUNDS  YEAR
0      28237       Rory McIlroy  68.670            60  2021
1      35891      Cameron Smith  69.203            62  2021
2      40098   Matt Fitzpatrick  69.217            70  2021
3      46046  Scottie Scheffler  69.293            84  2021
4      48081  Xander Schauffele  69.462            72  2021

In [77]:
# Ahora vamos ir cargando diferentes DF y vamos a ir ensamblando por a√±o las estafisticas que necesitamos

# Primero voy a ir poniendo nombres a las columnas para que no haya confusiones

data_frame.rename(columns={'AVG': 'AVG_TOTAL_FOR_ROUND'}, inplace=True)
data_frame.rename(columns={'PLAYER': 'PLAYER_NAME'}, inplace=True)
data_frame.rename(columns={'TOTAL ROUNDS': 'TOTAL_ROUNDS'}, inplace=True)

In [78]:
data_frame.head()

   PLAYER_ID        PLAYER_NAME  AVG_TOTAL_FOR_ROUND  TOTAL_ROUNDS  YEAR
0      28237       Rory McIlroy               68.670            60  2021
1      35891      Cameron Smith               69.203            62  2021
2      40098   Matt Fitzpatrick               69.217            70  2021
3      46046  Scottie Scheffler               69.293            84  2021
4      48081  Xander Schauffele               69.462            72  2021

In [79]:
# VAMOS A INCORPORAR LA ESTADISTICA AVG DRIVER DISTANCE

In [80]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\DRIVING DISTANCE AVG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameDD = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameDD.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL DISTANCE,TOTAL DRIVES
0,1,0,52372,Cameron Champ,321.4,35996,112
1,2,0,28237,Rory McIlroy,321.3,38561,120
2,3,0,57366,Cameron Young,319.3,52373,164
3,4,0,51766,Wyndham Clark,319.0,59335,186
4,5,0,46970,Jon Rahm,318.9,44646,140

In [81]:
data_frameDD = data_frameDD[['PLAYER_ID', 'AVG']]

In [82]:
data_frameDD.rename(columns={'AVG': 'AVG_DRIVER_DISTANCE'}, inplace=True)

In [83]:
data_frameDD.head()

   PLAYER_ID  AVG_DRIVER_DISTANCE
0      52372                321.4
1      28237                321.3
2      57366                319.3
3      51766                319.0
4      46970                318.9

In [84]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameDD, on='PLAYER_ID', how='left')

In [85]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE
0,28237,Rory McIlroy,68.670,60,2021,321.3
1,35891,Cameron Smith,69.203,62,2021,299.7
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8
3,46046,Scottie Scheffler,69.293,84,2021,311.6
4,48081,Xander Schauffele,69.462,72,2021,308.5

In [86]:
# VAMOS A INCORPORAR LA ESTADISTICA AVG FAIRWAY PERCENTAJE

In [87]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\FAIRWAY PERCENTAJE.csv'

# Cargar el archivo CSV en un DataFrame
data_frameFP = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameFP.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,FAIRWAYS HIT,POSSIBLE FAIRWAYS,RELATIVE TO PAR
0,1,0,19803,Ryan Armour,74.75,379,507,-0.13
1,2,0,32816,Satoshi Kodaira,73.42,417,568,-0.13
2,3,0,31560,Brian Stuard,71.13,675,949,-0.09
3,4,0,26476,Chez Reavie,70.25,725,1032,-0.13
4,5,0,45526,Abraham Ancer,70.09,450,642,-0.20

In [88]:
data_frameFP.rename(columns={'%': 'AVG_FAIRWAY'}, inplace=True)

In [89]:
data_frameFP = data_frameFP[['PLAYER_ID', 'AVG_FAIRWAY']]

In [90]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameFP, on='PLAYER_ID', how='left')

In [91]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49

In [92]:
# VAMOS A INCORPORAR LA ESTADISTICA PEDEX POINTS

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\FEDEX 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameFPOINTS = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameFPOINTS.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,POINTS,# OF WINS,# OF TOP 10'S,POINTS BEHIND LEAD
0,1,0,46046,Scottie Scheffler,3556,4,9,0
1,2,0,35891,Cameron Smith,2335,3,7,1221
2,3,0,47504,Sam Burns,2275,3,8,1281
3,4,0,48081,Xander Schauffele,2153,3,5,1403
4,5,0,35450,Patrick Cantlay,2108,1,10,1448

In [93]:
data_frameFPOINTS.rename(columns={'POINTS': 'FEDEX_POINTS'}, inplace=True)

In [94]:
data_frameFPOINTS = data_frameFPOINTS[['PLAYER_ID', 'FEDEX_POINTS']]

In [95]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameFPOINTS, on='PLAYER_ID', how='left')

In [96]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153

In [97]:
# VAMOS A INCORPORAR LA ESTADISTICA GREEN IN REGULATIONS

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\GIR 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameGIR = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameGIR.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,GREENS HIT,# HOLES,RELATIVE/PAR
0,1,0,46046,Scottie Scheffler,72.29,1093,1512,-0.33
1,2,0,39997,Corey Conners,71.90,1126,1566,-0.27
2,3,0,46970,Jon Rahm,71.59,902,1260,-0.30
3,4,0,33122,Russell Knox,71.41,1144,1602,-0.24
4,5,0,29725,Tony Finau,71.25,1103,1548,-0.30

In [98]:
data_frameGIR.rename(columns={'%': 'AVG_GIR'}, inplace=True)

In [99]:
data_frameGIR = data_frameGIR[['PLAYER_ID', 'AVG_GIR']]

In [100]:
# ENSAMBLAMOS EL GIR DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameGIR, on='PLAYER_ID', how='left')

In [101]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52

In [102]:
# VAMOS A INCORPORAR LA ESTADISTICA MONEY

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\MONEY 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameMO = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameMO.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER      MONEY  YTD VICTORIES
0     1         0      46046  Scottie Scheffler  $14046910            4.0
1     2         0      35891      Cameron Smith  $10107897            3.0
2     3         0      47483     Will Zalatoris   $9405082            1.0
3     4         0      35450    Patrick Cantlay   $9369605            2.0
4     5         0      28237       Rory McIlroy   $8654566            3.0

In [103]:
data_frameMO = data_frameMO[['PLAYER_ID', 'MONEY']]

In [104]:
# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameMO, on='PLAYER_ID', how='left')

In [105]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299

In [106]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 3

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\P3 AVG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP3 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP3.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER  STATUS  PAR 3 AVG  TOTAL PAR
0     1         0      46402        Talor Gooch     -12       2.96        828
1     2         0      23983        Luke Donald     -11       2.96        837
2     3         0      36799     Stephan Jaeger     -10       2.97       1065
3     4         0      35532           Tom Hoge      -7       2.98       1173
4     4         0      48081  Xander Schauffele      -7       2.98        864

In [107]:
data_frameP3.rename(columns={'PAR 3 AVG': 'PAR_3_AVG'}, inplace=True)
data_frameP3 = data_frameP3[['PLAYER_ID', 'PAR_3_AVG']]

In [108]:
# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP3, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98

In [109]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 4

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\P4 AVG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP4 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP4.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER STATUS  PAR 4 AVG  TOTAL PAR
0     1         0      33448      Justin Thomas    -54       3.94       3328
1     2         0      29725         Tony Finau    -50       3.95       3784
2     3         0      39971         Sungjae Im    -44       3.95       3856
3     3         0      48081  Xander Schauffele    -44       3.94       3152
4     5         0      46046  Scottie Scheffler    -42       3.95       3680

In [110]:
data_frameP4.rename(columns={'PAR 4 AVG': 'PAR_4_AVG'}, inplace=True)
data_frameP4 = data_frameP4[['PLAYER_ID', 'PAR_4_AVG']]

# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP4, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94

In [111]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 5

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\P5 AVG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP5 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP5.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER  STATUS  PAR 5 AVG  TOTAL PAR
0     1         0      51634    Sahith Theegala    -165       4.55       1830
1     2         0      37455         Si Woo Kim    -140       4.55       1570
2     3         0      39971         Sungjae Im    -133       4.51       1370
3     4         0      46442   Maverick McNealy    -132       4.53       1410
4     4         0      46046  Scottie Scheffler    -132       4.48       1270

In [112]:
data_frameP5.rename(columns={'PAR 5 AVG': 'PAR_5_AVG'}, inplace=True)
data_frameP5 = data_frameP5[['PLAYER_ID', 'PAR_5_AVG']]

# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP5, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54

In [113]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PUTT AVERAGE

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\PUTT AVG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_framePAVG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_framePAVG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,GIR PUTTS,GREENS HIT,BIRDIE CONVERSION
0,1,0,35891,Cameron Smith,1.679,1274,759,37.57
1,2,0,51894,Vince Whaley,1.706,1665,976,35.46
2,3,0,33448,Justin Thomas,1.718,1606,935,36.62
3,4,0,46046,Scottie Scheffler,1.720,1880,1093,34.77
4,5,0,47504,Sam Burns,1.721,1702,989,34.51

In [114]:
data_framePAVG.rename(columns={'AVG': 'AVG_PUTT'}, inplace=True)

In [115]:
data_framePAVG = data_framePAVG[['PLAYER_ID', 'AVG_PUTT']]

In [116]:
# ENSAMBLAMOS EL AVG_PUTT DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_framePAVG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44,1.739
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43,1.679
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51,1.787
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48,1.720
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54,1.725

In [117]:
# VAMOS A INCORPORAR LA ESTADISTICA SCRAMBLING PROMEDIO

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\SCAVG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSCAVG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSCAVG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,PAR OR BETTER,MISSED GIR
0,1,0,40098,Matt Fitzpatrick,69.62,291,418
1,2,0,23108,Matt Kuchar,69.20,319,461
2,3,0,33204,Shane Lowry,67.46,226,335
3,4,0,45522,Christiaan Bezuidenhout,66.05,323,489
4,5,0,39971,Sungjae Im,66.02,305,462

In [118]:
data_frameSCAVG.rename(columns={'%': 'AVG_SCRAMBLING'}, inplace=True)
data_frameSCAVG = data_frameSCAVG[['PLAYER_ID', 'AVG_SCRAMBLING']]

In [119]:
# ENSAMBLAMOS EL AVG_PUTT DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSCAVG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44,1.739,62.77
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43,1.679,59.94
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51,1.787,69.62
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48,1.720,59.90
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54,1.725,62.04

In [120]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED APPROACH THE GREEN 

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\SG APP 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGAPP = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGAPP.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:APP,MEASURED ROUNDS
0,1,0,47483,Will Zalatoris,1.063,60.590,57
1,2,0,34098,Russell Henley,0.969,61.050,63
2,3,0,50525,Collin Morikawa,0.854,41.009,48
3,4,0,46046,Scottie Scheffler,0.819,54.035,66
4,5,0,35891,Cameron Smith,0.771,37.772,49

In [121]:
data_frameSGAPP.rename(columns={'AVG': 'AVG_SG_APPROACH'}, inplace=True)
data_frameSGAPP = data_frameSGAPP[['PLAYER_ID', 'AVG_SG_APPROACH']]

In [122]:
# ENSAMBLAMOS EL AVG_SG_APPROACH DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGAPP, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44,1.739,62.77,0.626
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43,1.679,59.94,0.771
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51,1.787,69.62,0.280
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48,1.720,59.90,0.819
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54,1.725,62.04,0.701

In [123]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED ARROUND THE GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\SG ATG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGATG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGATG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:ARG,MEASURED ROUNDS
0,1,0,23108,Matt Kuchar,0.519,31.131,60
1,2,0,32139,Danny Willett,0.513,21.527,42
2,3,0,46402,Talor Gooch,0.502,27.609,55
3,4,0,26300,Matt Jones,0.480,24.496,51
4,5,0,30911,Tommy Fleetwood,0.467,18.679,40

In [124]:
data_frameSGATG.rename(columns={'AVG': 'AVG_SG_ATG'}, inplace=True)
data_frameSGATG = data_frameSGATG[['PLAYER_ID', 'AVG_SG_ATG']]

In [125]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGATG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44,1.739,62.77,0.626,0.222
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43,1.679,59.94,0.771,0.223
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51,1.787,69.62,0.280,0.452
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48,1.720,59.90,0.819,0.300
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54,1.725,62.04,0.701,0.235

In [126]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED ARROUND THE GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\SG PUTT 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSPUTT = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSPUTT.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:PUTTING,MEASURED ROUNDS
0,1,0,39058,Lucas Herbert,0.853,34.103,40
1,2,0,47993,Denny McCarthy,0.818,71.169,87
2,3,0,30927,Brendon Todd,0.781,54.650,70
3,4,0,34363,Tyrrell Hatton,0.742,35.622,48
4,5,0,35461,Beau Hossler,0.717,46.599,65

In [127]:
data_frameSPUTT.rename(columns={'AVG': 'AVG_SG_PUTTING'}, inplace=True)
data_frameSPUTT = data_frameSPUTT[['PLAYER_ID', 'AVG_SG_PUTTING']]

In [128]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSPUTT, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44,1.739,62.77,0.626,0.222,0.495
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43,1.679,59.94,0.771,0.223,0.563
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51,1.787,69.62,0.280,0.452,0.425
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48,1.720,59.90,0.819,0.300,0.202
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54,1.725,62.04,0.701,0.235,0.343

In [129]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED TOTAL

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\SG TOTAL 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGTOT = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGTOT.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:T,TOTAL SG:T2G,TOTAL SG:P,MEASURED ROUNDS
0,1,0,28237,Rory McIlroy,2.115,109.968,84.208,25.762,52
1,2,0,40098,Matt Fitzpatrick,1.792,86.035,65.650,20.385,48
2,3,0,47483,Will Zalatoris,1.767,100.723,100.913,-0.188,57
3,4,0,33448,Justin Thomas,1.680,102.492,96.939,5.553,61
4,5,0,46046,Scottie Scheffler,1.677,110.666,97.362,13.304,66

In [130]:
data_frameSGTOT.rename(columns={'AVG': 'AVG_SG_TOTAL'}, inplace=True)
data_frameSGTOT = data_frameSGTOT[['PLAYER_ID', 'AVG_SG_TOTAL']]

In [131]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGTOT, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44,1.739,62.77,0.626,0.222,0.495,2.115
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43,1.679,59.94,0.771,0.223,0.563,1.433
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51,1.787,69.62,0.280,0.452,0.425,1.792
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48,1.720,59.90,0.819,0.300,0.202,1.677
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54,1.725,62.04,0.701,0.235,0.343,1.652

In [132]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED TEE TO GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\SG TTG 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGTTG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGTTG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS
0,1,0,47483,Will Zalatoris,1.770,0.602,1.063,0.106,57
1,2,0,28237,Rory McIlroy,1.619,0.771,0.626,0.222,52
2,3,0,33448,Justin Thomas,1.589,0.538,0.696,0.355,61
3,4,0,46046,Scottie Scheffler,1.475,0.356,0.819,0.300,66
4,5,0,29725,Tony Finau,1.408,0.543,0.659,0.206,71

In [133]:
data_frameSGTTG

data_frameSGTTG.rename(columns={'AVG': 'AVG_SG_TTG'}, inplace=True)
data_frameSGTTG = data_frameSGTTG[['PLAYER_ID', 'AVG_SG_TTG']]

In [134]:
# ENSAMBLAMOS EL AVG_SG_TTG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGTTG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL,AVG_SG_TTG
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,3.03,3.95,4.44,1.739,62.77,0.626,0.222,0.495,2.115,1.619
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,3.04,3.95,4.43,1.679,59.94,0.771,0.223,0.563,1.433,0.869
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,3.05,3.99,4.51,1.787,69.62,0.280,0.452,0.425,1.792,1.368
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,2.99,3.95,4.48,1.720,59.90,0.819,0.300,0.202,1.677,1.475
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,2.98,3.94,4.54,1.725,62.04,0.701,0.235,0.343,1.652,1.309

In [135]:
# VAMOS A INCORPORAR LA ESTADISTICA TOP 10 Y WININGS
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\TOP 10 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameTOP10 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameTOP10.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER  TOP 10  1ST  2ND  3RD
0     1         0      35450    Patrick Cantlay      12    2    3    1
1     2         0      46046  Scottie Scheffler      11    4    4    1
2     3         0      40098   Matt Fitzpatrick      10    1    1    0
3     3         0      28237       Rory McIlroy      10    3    1    1
4     3         0      33448      Justin Thomas      10    1    0    3

In [136]:
data_frameTOP10.rename(columns={'1ST': 'WINS'}, inplace=True)
data_frameTOP10.rename(columns={'TOP 10': 'TOP10'}, inplace=True)
data_frameTOP10 = data_frameTOP10[['PLAYER_ID', 'WINS', 'TOP10']]

In [137]:
# ENSAMBLAMOS EL AVG_SG_TTG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameTOP10, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,...,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL,AVG_SG_TTG,WINS,TOP10
0,28237,Rory McIlroy,68.670,60,2021,321.3,57.34,2104,69.91,$8654566,...,4.44,1.739,62.77,0.626,0.222,0.495,2.115,1.619,3.0,10.0
1,35891,Cameron Smith,69.203,62,2021,299.7,56.12,2335,68.01,$10107897,...,4.43,1.679,59.94,0.771,0.223,0.563,1.433,0.869,3.0,7.0
2,40098,Matt Fitzpatrick,69.217,70,2021,303.8,62.52,1596,66.83,$7012672,...,4.51,1.787,69.62,0.280,0.452,0.425,1.792,1.368,1.0,10.0
3,46046,Scottie Scheffler,69.293,84,2021,311.6,57.55,3556,72.29,$14046910,...,4.48,1.720,59.90,0.819,0.300,0.202,1.677,1.475,4.0,11.0
4,48081,Xander Schauffele,69.462,72,2021,308.5,62.49,2153,70.52,$7427299,...,4.54,1.725,62.04,0.701,0.235,0.343,1.652,1.309,3.0,7.0

In [138]:
# Define el orden deseado de las columnas
column_order = ['PLAYER_ID', 'PLAYER_NAME', 'TOTAL_ROUNDS', 'AVG_FAIRWAY', 'AVG_SCRAMBLING', 'AVG_TOTAL_FOR_ROUND', 'AVG_DRIVER_DISTANCE','AVG_SG_APPROACH', 'AVG_GIR', 'AVG_PUTT', 'AVG_SG_ATG', 'AVG_SG_PUTTING', 'AVG_SG_TOTAL', 'AVG_SG_TTG','PAR_5_AVG','PAR_4_AVG','PAR_3_AVG', 'WINS', 'TOP10', 'YEAR', 'FEDEX_POINTS', 'MONEY']

# Reordena las columnas en el DataFrame
data_frame = data_frame[column_order]

# Mostrar el DataFrame con las columnas ordenadas
data_frame.head()

,PLAYER_ID,PLAYER_NAME,TOTAL_ROUNDS,AVG_FAIRWAY,AVG_SCRAMBLING,AVG_TOTAL_FOR_ROUND,AVG_DRIVER_DISTANCE,AVG_SG_APPROACH,AVG_GIR,AVG_PUTT,...,AVG_SG_TOTAL,AVG_SG_TTG,PAR_5_AVG,PAR_4_AVG,PAR_3_AVG,WINS,TOP10,YEAR,FEDEX_POINTS,MONEY
0,28237,Rory McIlroy,60,57.34,62.77,68.670,321.3,0.626,69.91,1.739,...,2.115,1.619,4.44,3.95,3.03,3.0,10.0,2021,2104,$8654566
1,35891,Cameron Smith,62,56.12,59.94,69.203,299.7,0.771,68.01,1.679,...,1.433,0.869,4.43,3.95,3.04,3.0,7.0,2021,2335,$10107897
2,40098,Matt Fitzpatrick,70,62.52,69.62,69.217,303.8,0.280,66.83,1.787,...,1.792,1.368,4.51,3.99,3.05,1.0,10.0,2021,1596,$7012672
3,46046,Scottie Scheffler,84,57.55,59.90,69.293,311.6,0.819,72.29,1.720,...,1.677,1.475,4.48,3.95,2.99,4.0,11.0,2021,3556,$14046910
4,48081,Xander Schauffele,72,62.49,62.04,69.462,308.5,0.701,70.52,1.725,...,1.652,1.309,4.54,3.94,2.98,3.0,7.0,2021,2153,$7427299

In [139]:
num_rows, num_columns = data_frame.shape
print("N√∫mero de filas:", num_rows)
print("N√∫mero de columnas:", num_columns)

N√∫mero de filas: 191
N√∫mero de columnas: 22

In [140]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID               0
PLAYER_NAME             0
TOTAL_ROUNDS            0
AVG_FAIRWAY             0
AVG_SCRAMBLING          0
AVG_TOTAL_FOR_ROUND     0
AVG_DRIVER_DISTANCE     0
AVG_SG_APPROACH         0
AVG_GIR                 0
AVG_PUTT                0
AVG_SG_ATG              0
AVG_SG_PUTTING          0
AVG_SG_TOTAL            0
AVG_SG_TTG              0
PAR_5_AVG               0
PAR_4_AVG               0
PAR_3_AVG               0
WINS                   35
TOP10                  35
YEAR                    0
FEDEX_POINTS            0
MONEY                   0
dtype: int64

In [141]:
# Reemplazar los valores NaN por 0 en todo el DataFrame
data_frame = data_frame.fillna(0)

# Mostrar el DataFrame con los valores NaN reemplazados por 0
print(data_frame)

     PLAYER_ID         PLAYER_NAME  TOTAL_ROUNDS  AVG_FAIRWAY  AVG_SCRAMBLING  \
0        28237        Rory McIlroy            60        57.34           62.77
1        35891       Cameron Smith            62        56.12           59.94
2        40098    Matt Fitzpatrick            70        62.52           69.62
3        46046   Scottie Scheffler            84        57.55           59.90
4        48081   Xander Schauffele            72        62.49           62.04
..         ...                 ...           ...          ...             ...
186      28114  Dawie van der Walt            62        60.00           53.71
187      35110       Brett Drewitt            58        57.37           55.83
188      47128      Richy Werenski            63        56.83           53.79
189      39436        Joshua Creel            47        64.58           57.91
190      27895         Jonas Blixt            50        59.30           53.91

     AVG_TOTAL_FOR_ROUND  AVG_DRIVER_DISTANCE  AVG_SG_APPROACH  AVG_GIR  \
0                 68.670                321.3            0.626    69.91
1                 69.203                299.7            0.771    68.01
2                 69.217                303.8            0.280    66.83
3                 69.293                311.6            0.819    72.29
4                 69.462                308.5            0.701    70.52
..                   ...                  ...              ...      ...
186               72.198                298.2           -0.240    63.80
187               72.233                295.9           -0.482    64.66
188               72.310                294.9           -0.513    62.79
189               72.388                284.6           -0.409    60.40
190               72.679                296.6           -1.352    58.78

     AVG_PUTT  ...  AVG_SG_TOTAL  AVG_SG_TTG  PAR_5_AVG  PAR_4_AVG  PAR_3_AVG  \
0       1.739  ...         2.115       1.619       4.44       3.95       3.03
1       1.679  ...         1.433       0.869       4.43       3.95       3.04
2       1.787  ...         1.792       1.368       4.51       3.99       3.05
3       1.720  ...         1.677       1.475       4.48       3.95       2.99
4       1.725  ...         1.652       1.309       4.54       3.94       2.98
..        ...  ...           ...         ...        ...        ...        ...
186     1.785  ...        -0.880      -0.653       4.78       4.08       3.07
187     1.800  ...        -1.364      -1.038       4.73       4.08       3.11
188     1.751  ...        -1.090      -1.339       4.71       4.09       3.10
189     1.781  ...        -0.966      -0.892       4.81       4.08       3.10
190     1.762  ...        -1.374      -1.610       4.78       4.09       3.17

     WINS  TOP10  YEAR  FEDEX_POINTS      MONEY
0     3.0   10.0  2021          2104   $8654566
1     3.0    7.0  2021          2335  $10107897
2     1.0   10.0  2021          1596   $7012672
3     4.0   11.0  2021          3556  $14046910
4     3.0    7.0  2021          2153   $7427299
..    ...    ...   ...           ...        ...
186   0.0    0.0  2021            78    $184972
187   0.0    0.0  2021            42    $121307
188   0.0    0.0  2021           163    $354791
189   0.0    0.0  2021            48    $115976
190   0.0    0.0  2021            50    $135079

[191 rows x 22 columns]

In [142]:
data_frame2021 = data_frame

In [145]:
# Ruta para guardar el archivo CSV
ruta_guardado = r'C:\Users\kikot\Desktop\TFM GOLF\data_frame2021.csv'

# Exportar el DataFrame a un archivo CSV en la ruta especificada
data_frame2021.to_csv(ruta_guardado, index=False)

In [144]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID              0
PLAYER_NAME            0
TOTAL_ROUNDS           0
AVG_FAIRWAY            0
AVG_SCRAMBLING         0
AVG_TOTAL_FOR_ROUND    0
AVG_DRIVER_DISTANCE    0
AVG_SG_APPROACH        0
AVG_GIR                0
AVG_PUTT               0
AVG_SG_ATG             0
AVG_SG_PUTTING         0
AVG_SG_TOTAL           0
AVG_SG_TTG             0
PAR_5_AVG              0
PAR_4_AVG              0
PAR_3_AVG              0
WINS                   0
TOP10                  0
YEAR                   0
FEDEX_POINTS           0
MONEY                  0
dtype: int64