In [317]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\NAME AVG ROUNDS YEAR.csv'

# Cargar el archivo CSV en un DataFrame
data_frame = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frame.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL STROKES,TOTAL ADJUSTMENT,TOTAL ROUNDS
0,1,0,46046,Scottie Scheffler,68.598,5463,24.812,80
1,2,1,28237,Rory McIlroy,68.808,3870,-16.761,56
2,3,-1,46970,Jon Rahm,68.811,4327,8.098,63
3,4,3,35450,Patrick Cantlay,69.206,4411,18.179,64
4,5,0,30911,Tommy Fleetwood,69.210,4583,-15.166,66

In [318]:
# Agregar la columna "YEAR" con el valor "2021"
data_frame['YEAR'] = 2022

In [319]:
# Seleccionar solo las columnas que deseas mantener
columns_to_keep = ['PLAYER_ID', 'PLAYER', 'AVG', 'TOTAL ROUNDS', 'YEAR']
data_frame = data_frame.loc[:, columns_to_keep]

In [320]:
data_frame.head()

   PLAYER_ID             PLAYER     AVG  TOTAL ROUNDS  YEAR
0      46046  Scottie Scheffler  68.598            80  2022
1      28237       Rory McIlroy  68.808            56  2022
2      46970           Jon Rahm  68.811            63  2022
3      35450    Patrick Cantlay  69.206            64  2022
4      30911    Tommy Fleetwood  69.210            66  2022

In [321]:
# Ahora vamos ir cargando diferentes DF y vamos a ir ensamblando por a√±o las estafisticas que necesitamos

# Primero voy a ir poniendo nombres a las columnas para que no haya confusiones

data_frame.rename(columns={'AVG': 'AVG_TOTAL_FOR_ROUND'}, inplace=True)
data_frame.rename(columns={'PLAYER': 'PLAYER_NAME'}, inplace=True)
data_frame.rename(columns={'TOTAL ROUNDS': 'TOTAL_ROUNDS'}, inplace=True)

In [322]:
data_frame.head()

   PLAYER_ID        PLAYER_NAME  AVG_TOTAL_FOR_ROUND  TOTAL_ROUNDS  YEAR
0      46046  Scottie Scheffler               68.598            80  2022
1      28237       Rory McIlroy               68.808            56  2022
2      46970           Jon Rahm               68.811            63  2022
3      35450    Patrick Cantlay               69.206            64  2022
4      30911    Tommy Fleetwood               69.210            66  2022

In [323]:
# VAMOS A INCORPORAR LA ESTADISTICA AVG DRIVER DISTANCE

In [324]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\DRIVING DISTANCE AVG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameDD = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameDD.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL DISTANCE,TOTAL DRIVES
0,1,0,28237,Rory McIlroy,325.8,33883,104
1,2,0,51491,Brandon Matthews,321.2,35330,110
2,3,0,57366,Cameron Young,317.1,44388,140
3,4,0,52372,Cameron Champ,316.1,35398,112
4,5,0,33948,Byeong Hun An,316.0,61295,194

In [325]:
data_frameDD = data_frameDD[['PLAYER_ID', 'AVG']]

In [326]:
data_frameDD.rename(columns={'AVG': 'AVG_DRIVER_DISTANCE'}, inplace=True)

In [327]:
data_frameDD.head()

   PLAYER_ID  AVG_DRIVER_DISTANCE
0      28237                325.8
1      51491                321.2
2      57366                317.1
3      52372                316.1
4      33948                316.0

In [328]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameDD, on='PLAYER_ID', how='left')

In [329]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE
0,46046,Scottie Scheffler,68.598,80,2022,310.1
1,28237,Rory McIlroy,68.808,56,2022,325.8
2,46970,Jon Rahm,68.811,63,2022,313.3
3,35450,Patrick Cantlay,69.206,64,2022,307.7
4,30911,Tommy Fleetwood,69.210,66,2022,302.2

In [330]:
# VAMOS A INCORPORAR LA ESTADISTICA AVG FAIRWAY PERCENTAJE

In [331]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\FAIRWAY PERCENTAJE.csv'

# Cargar el archivo CSV en un DataFrame
data_frameFP = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameFP.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,FAIRWAYS HIT,POSSIBLE FAIRWAYS,RELATIVE TO PAR
0,1,1,34098,Russell Henley,71.02%,615,866,-0.22
1,2,1,19803,Ryan Armour,69.93%,579,828,-0.15
2,3,1,26596,Ryan Moore,68.82%,490,712,-0.18
3,4,1,46414,Aaron Rai,68.37%,789,1154,-0.21
4,5,2,37455,Si Woo Kim,68.15%,691,1014,-0.20

In [332]:
data_frameFP.rename(columns={'%': 'AVG_FAIRWAY'}, inplace=True)

In [333]:
data_frameFP = data_frameFP[['PLAYER_ID', 'AVG_FAIRWAY']]

In [334]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameFP, on='PLAYER_ID', how='left')

In [335]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%

In [336]:
# VAMOS A INCORPORAR LA ESTADISTICA PEDEX POINTS

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\FEDEX 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameFPOINTS = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameFPOINTS.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,POINTS,# OF WINS,# OF TOP 10'S,POINTS BEHIND LEAD
0,1,0,46970,Jon Rahm,3320,4,10,0
1,2,0,46046,Scottie Scheffler,3146,2,15,174
2,3,0,28237,Rory McIlroy,2304,2,10,1016
3,4,0,39977,Max Homa,2128,2,9,1192
4,5,0,51766,Wyndham Clark,1944,2,7,1376

In [337]:
data_frameFPOINTS.rename(columns={'POINTS': 'FEDEX_POINTS'}, inplace=True)

In [338]:
data_frameFPOINTS = data_frameFPOINTS[['PLAYER_ID', 'FEDEX_POINTS']]

In [339]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameFPOINTS, on='PLAYER_ID', how='left')

In [340]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0

In [341]:
# VAMOS A INCORPORAR LA ESTADISTICA GREEN IN REGULATIONS

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\GIR 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameGIR = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameGIR.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,GREENS HIT,# HOLES,RELATIVE/PAR
0,1,0,46046,Scottie Scheffler,74.03%,1066,1440,-0.33
1,2,0,45242,Kevin Yu,72.96%,696,954,-0.30
2,3,0,46970,Jon Rahm,70.99%,805,1134,-0.36
3,4,0,52375,Doug Ghim,70.56%,978,1386,-0.26
4,5,0,50525,Collin Morikawa,70.53%,876,1242,-0.30

In [342]:
data_frameGIR.rename(columns={'%': 'AVG_GIR'}, inplace=True)

In [343]:
data_frameGIR = data_frameGIR[['PLAYER_ID', 'AVG_GIR']]

In [344]:
# ENSAMBLAMOS EL GIR DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameGIR, on='PLAYER_ID', how='left')

In [345]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%

In [346]:
# VAMOS A INCORPORAR LA ESTADISTICA MONEY

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\MONEY 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameMO = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameMO.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER      MONEY  YTD VICTORIES
0     1         0      46046  Scottie Scheffler  $19254342            2.0
1     2         0      46970           Jon Rahm  $16383608            4.0
2     3         0      28237       Rory McIlroy  $12931008            2.0
3     4         1      46717     Viktor Hovland  $10512235            1.0
4     5        -1      51766      Wyndham Clark  $10425490            2.0

In [347]:
data_frameMO = data_frameMO[['PLAYER_ID', 'MONEY']]

In [348]:
# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameMO, on='PLAYER_ID', how='left')

In [349]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891

In [350]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 3

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\P3 AVG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP3 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP3.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER STATUS  PAR 3 AVG  TOTAL PAR
0     1         0      39977           Max Homa    -20       2.93        894
1     2         0      46970           Jon Rahm    -18       2.93        768
2     3         1      47591          Eric Cole    -14       2.97       1269
3     4        -1      32102      Rickie Fowler     -9       2.97       1044
4     5         0      46046  Scottie Scheffler     -7       2.98        984

In [351]:
data_frameP3.rename(columns={'PAR 3 AVG': 'PAR_3_AVG'}, inplace=True)
data_frameP3 = data_frameP3[['PLAYER_ID', 'PAR_3_AVG']]

In [352]:
# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP3, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01

In [353]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 4

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\P4 AVG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP4 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP4.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER STATUS  PAR 4 AVG  TOTAL PAR
0     1         0      46046  Scottie Scheffler    -73       3.92       3456
1     2         1      35450    Patrick Cantlay    -50       3.93       2760
2     3        -1      47993     Denny McCarthy    -44       3.96       3980
3     4         0      28089          Jason Day    -36       3.95       3088
4     5         2      46717     Viktor Hovland    -30       3.97       3452

In [354]:
data_frameP4.rename(columns={'PAR 4 AVG': 'PAR_4_AVG'}, inplace=True)
data_frameP4 = data_frameP4[['PLAYER_ID', 'PAR_4_AVG']]

# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP4, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99

In [355]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 5

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\P5 AVG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP5 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP5.head()

   RANK  MOVEMENT  PLAYER_ID          PLAYER  STATUS  PAR 5 AVG  TOTAL PAR
0     1         0      39971      Sungjae Im    -152       4.47       1430
1     2         0      51766   Wyndham Clark    -147       4.52       1540
2     3         0      47591       Eric Cole    -140       4.55       1560
3     3         2      36799  Stephan Jaeger    -140       4.57       1620
4     5        -2      54421   Garrick Higgo    -139       4.55       1540

In [356]:
data_frameP5.rename(columns={'PAR 5 AVG': 'PAR_5_AVG'}, inplace=True)
data_frameP5 = data_frameP5[['PLAYER_ID', 'PAR_5_AVG']]

# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP5, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54

In [357]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PUTT AVERAGE

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\PUTT AVG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_framePAVG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_framePAVG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,GIR PUTTS,GREENS HIT,BIRDIE CONVERSION
0,1,0,55789,Taylor Montgomery,1.659,1516,914,38.93%
1,2,0,46970,Jon Rahm,1.699,1368,805,36.75%
2,3,1,37275,Sam Ryder,1.700,1710,1006,34.13%
3,4,-1,39977,Max Homa,1.703,1495,878,35.43%
4,5,8,30911,Tommy Fleetwood,1.704,1290,757,34.79%

In [358]:
data_framePAVG.rename(columns={'AVG': 'AVG_PUTT'}, inplace=True)

In [359]:
data_framePAVG = data_framePAVG[['PLAYER_ID', 'AVG_PUTT']]

In [360]:
# ENSAMBLAMOS EL AVG_PUTT DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_framePAVG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45,1.730
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55,1.731
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45,1.699
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44,1.722
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54,1.704

In [361]:
# VAMOS A INCORPORAR LA ESTADISTICA SCRAMBLING PROMEDIO

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\SCAVG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSCAVG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSCAVG.head()

   RANK  MOVEMENT  PLAYER_ID         PLAYER       %  PAR OR BETTER  MISSED GIR
0     1         0      27644   Brian Harman  67.44%            321         476
1     2         0      28089      Jason Day  66.82%            286         428
2     3         0      24925  Jonathan Byrd  66.35%            207         312
3     4         0      23108    Matt Kuchar  65.76%            315         479
4     5         3      39324     J.J. Spaun  65.74%            309         470

In [362]:
data_frameSCAVG.rename(columns={'%': 'AVG_SCRAMBLING'}, inplace=True)
data_frameSCAVG = data_frameSCAVG[['PLAYER_ID', 'AVG_SCRAMBLING']]

In [363]:
# ENSAMBLAMOS EL AVG_PUTT DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSCAVG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45,1.730,63.90%
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55,1.731,60.37%
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45,1.699,62.01%
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44,1.722,63.53%
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54,1.704,65.20%

In [364]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED APPROACH THE GREEN 

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\SG APP 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGAPP = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGAPP.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:APP,MEASURED ROUNDS
0,1,0,46046,Scottie Scheffler,1.258,83.003,66
1,2,0,50525,Collin Morikawa,1.025,55.358,54
2,3,0,46970,Jon Rahm,0.901,46.828,52
3,4,0,28237,Rory McIlroy,0.854,42.718,50
4,5,0,48081,Xander Schauffele,0.842,45.469,54

In [365]:
data_frameSGAPP.rename(columns={'AVG': 'AVG_SG_APPROACH'}, inplace=True)
data_frameSGAPP = data_frameSGAPP[['PLAYER_ID', 'AVG_SG_APPROACH']]

In [366]:
# ENSAMBLAMOS EL AVG_SG_APPROACH DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGAPP, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45,1.730,63.90%,1.258
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55,1.731,60.37%,0.854
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45,1.699,62.01%,0.901
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44,1.722,63.53%,0.488
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54,1.704,65.20%,0.426

In [367]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED ARROUND THE GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\SG ATG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGATG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGATG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:ARG,MEASURED ROUNDS
0,1,0,24925,Jonathan Byrd,0.525,16.805,32
1,2,0,22371,Aaron Baddeley,0.475,25.673,54
2,3,0,30927,Brendon Todd,0.441,33.070,75
3,4,0,33948,Byeong Hun An,0.438,37.244,85
4,5,0,46046,Scottie Scheffler,0.412,27.187,66

In [368]:
data_frameSGATG.rename(columns={'AVG': 'AVG_SG_ATG'}, inplace=True)
data_frameSGATG = data_frameSGATG[['PLAYER_ID', 'AVG_SG_ATG']]

In [369]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGATG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45,1.730,63.90%,1.258,0.412
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55,1.731,60.37%,0.854,0.315
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45,1.699,62.01%,0.901,0.153
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44,1.722,63.53%,0.488,0.157
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54,1.704,65.20%,0.426,0.349

In [370]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED ARROUND THE GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\SG PUTT 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSPUTT = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSPUTT.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:PUTTING,MEASURED ROUNDS
0,1,0,46442,Maverick McNealy,1.058,48.662,46
1,2,0,55789,Taylor Montgomery,0.884,67.220,76
2,3,0,47993,Denny McCarthy,0.751,60.852,81
3,4,1,48081,Xander Schauffele,0.651,35.136,54
4,5,5,34256,Andrew Putnam,0.645,52.886,82

In [371]:
data_frameSPUTT.rename(columns={'AVG': 'AVG_SG_PUTTING'}, inplace=True)
data_frameSPUTT = data_frameSPUTT[['PLAYER_ID', 'AVG_SG_PUTTING']]

In [372]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSPUTT, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45,1.730,63.90%,1.258,0.412,-0.225
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55,1.731,60.37%,0.854,0.315,0.099
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45,1.699,62.01%,0.901,0.153,0.451
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44,1.722,63.53%,0.488,0.157,0.422
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54,1.704,65.20%,0.426,0.349,0.556

In [373]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED TOTAL

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2021\SG TOTAL 2021.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGTOT = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGTOT.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:T,TOTAL SG:T2G,TOTAL SG:P,MEASURED ROUNDS
0,1,0,28237,Rory McIlroy,2.115,109.968,84.208,25.762,52
1,2,0,40098,Matt Fitzpatrick,1.792,86.035,65.650,20.385,48
2,3,0,47483,Will Zalatoris,1.767,100.723,100.913,-0.188,57
3,4,0,33448,Justin Thomas,1.680,102.492,96.939,5.553,61
4,5,0,46046,Scottie Scheffler,1.677,110.666,97.362,13.304,66

In [374]:
data_frameSGTOT.rename(columns={'AVG': 'AVG_SG_TOTAL'}, inplace=True)
data_frameSGTOT = data_frameSGTOT[['PLAYER_ID', 'AVG_SG_TOTAL']]

In [375]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGTOT, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45,1.730,63.90%,1.258,0.412,-0.225,1.677
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55,1.731,60.37%,0.854,0.315,0.099,2.115
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45,1.699,62.01%,0.901,0.153,0.451,1.656
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44,1.722,63.53%,0.488,0.157,0.422,1.522
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54,1.704,65.20%,0.426,0.349,0.556,1.050

In [376]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED TEE TO GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\SG TTG 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGTTG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGTTG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS
0,1,0,46046,Scottie Scheffler,2.690,1.034,1.258,0.412,66
1,2,0,28237,Rory McIlroy,2.110,1.075,0.854,0.315,50
2,3,0,46970,Jon Rahm,1.612,0.500,0.901,0.153,52
3,4,0,50525,Collin Morikawa,1.605,0.459,1.025,0.058,54
4,5,0,35450,Patrick Cantlay,1.585,0.848,0.488,0.157,54

In [377]:
data_frameSGTTG

data_frameSGTTG.rename(columns={'AVG': 'AVG_SG_TTG'}, inplace=True)
data_frameSGTTG = data_frameSGTTG[['PLAYER_ID', 'AVG_SG_TTG']]

In [378]:
# ENSAMBLAMOS EL AVG_SG_TTG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGTTG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL,AVG_SG_TTG
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,2.98,3.92,4.45,1.730,63.90%,1.258,0.412,-0.225,1.677,2.690
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,2.98,3.96,4.55,1.731,60.37%,0.854,0.315,0.099,2.115,2.110
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,2.93,3.96,4.45,1.699,62.01%,0.901,0.153,0.451,1.656,1.612
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,3.08,3.93,4.44,1.722,63.53%,0.488,0.157,0.422,1.522,1.585
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,3.01,3.99,4.54,1.704,65.20%,0.426,0.349,0.556,1.050,1.329

In [379]:
# VAMOS A INCORPORAR LA ESTADISTICA TOP 10 Y WININGS
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2022\TOP10 2022.csv'

# Cargar el archivo CSV en un DataFrame
data_frameTOP10 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameTOP10.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER  TOP 10  1ST  2ND  3RD
0     1         0      46046  Scottie Scheffler      15    2    1    5
1     2         0      28237       Rory McIlroy      11    2    2    2
2     3         1      39977           Max Homa      10    2    1    1
3     3        -1      46970           Jon Rahm      10    4    2    1
4     5         1      35450    Patrick Cantlay       9    0    2    2

In [380]:
data_frameTOP10.rename(columns={'1ST': 'WINS'}, inplace=True)
data_frameTOP10.rename(columns={'TOP 10': 'TOP10'}, inplace=True)
data_frameTOP10 = data_frameTOP10[['PLAYER_ID', 'WINS', 'TOP10']]

In [381]:
# ENSAMBLAMOS EL AVG_SG_TTG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameTOP10, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,...,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL,AVG_SG_TTG,WINS,TOP10
0,46046,Scottie Scheffler,68.598,80,2022,310.1,62.28%,3146.0,74.03%,$19254342,...,4.45,1.730,63.90%,1.258,0.412,-0.225,1.677,2.690,2.0,15.0
1,28237,Rory McIlroy,68.808,56,2022,325.8,54.65%,2304.0,67.46%,$12931008,...,4.55,1.731,60.37%,0.854,0.315,0.099,2.115,2.110,2.0,11.0
2,46970,Jon Rahm,68.811,63,2022,313.3,55.89%,3320.0,70.99%,$16383608,...,4.45,1.699,62.01%,0.901,0.153,0.451,1.656,1.612,4.0,10.0
3,35450,Patrick Cantlay,69.206,64,2022,307.7,65.87%,1443.0,69.53%,$10040998,...,4.44,1.722,63.53%,0.488,0.157,0.422,1.522,1.585,0.0,9.0
4,30911,Tommy Fleetwood,69.210,66,2022,302.2,60.97%,1184.0,63.72%,$6330891,...,4.54,1.704,65.20%,0.426,0.349,0.556,1.050,1.329,0.0,8.0

In [382]:
# Define el orden deseado de las columnas
column_order = ['PLAYER_ID', 'PLAYER_NAME', 'TOTAL_ROUNDS', 'AVG_FAIRWAY', 'AVG_SCRAMBLING', 'AVG_TOTAL_FOR_ROUND', 'AVG_DRIVER_DISTANCE','AVG_SG_APPROACH', 'AVG_GIR', 'AVG_PUTT', 'AVG_SG_ATG', 'AVG_SG_PUTTING', 'AVG_SG_TOTAL', 'AVG_SG_TTG','PAR_5_AVG','PAR_4_AVG','PAR_3_AVG', 'WINS', 'TOP10', 'YEAR', 'FEDEX_POINTS', 'MONEY']

# Reordena las columnas en el DataFrame
data_frame = data_frame[column_order]

# Mostrar el DataFrame con las columnas ordenadas
data_frame.head()

,PLAYER_ID,PLAYER_NAME,TOTAL_ROUNDS,AVG_FAIRWAY,AVG_SCRAMBLING,AVG_TOTAL_FOR_ROUND,AVG_DRIVER_DISTANCE,AVG_SG_APPROACH,AVG_GIR,AVG_PUTT,...,AVG_SG_TOTAL,AVG_SG_TTG,PAR_5_AVG,PAR_4_AVG,PAR_3_AVG,WINS,TOP10,YEAR,FEDEX_POINTS,MONEY
0,46046,Scottie Scheffler,80,62.28%,63.90%,68.598,310.1,1.258,74.03%,1.730,...,1.677,2.690,4.45,3.92,2.98,2.0,15.0,2022,3146.0,$19254342
1,28237,Rory McIlroy,56,54.65%,60.37%,68.808,325.8,0.854,67.46%,1.731,...,2.115,2.110,4.55,3.96,2.98,2.0,11.0,2022,2304.0,$12931008
2,46970,Jon Rahm,63,55.89%,62.01%,68.811,313.3,0.901,70.99%,1.699,...,1.656,1.612,4.45,3.96,2.93,4.0,10.0,2022,3320.0,$16383608
3,35450,Patrick Cantlay,64,65.87%,63.53%,69.206,307.7,0.488,69.53%,1.722,...,1.522,1.585,4.44,3.93,3.08,0.0,9.0,2022,1443.0,$10040998
4,30911,Tommy Fleetwood,66,60.97%,65.20%,69.210,302.2,0.426,63.72%,1.704,...,1.050,1.329,4.54,3.99,3.01,0.0,8.0,2022,1184.0,$6330891

In [383]:
num_rows, num_columns = data_frame.shape
print("N√∫mero de filas:", num_rows)
print("N√∫mero de columnas:", num_columns)

N√∫mero de filas: 188
N√∫mero de columnas: 22

In [384]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID               0
PLAYER_NAME             0
TOTAL_ROUNDS            0
AVG_FAIRWAY             0
AVG_SCRAMBLING          0
AVG_TOTAL_FOR_ROUND     0
AVG_DRIVER_DISTANCE     0
AVG_SG_APPROACH         0
AVG_GIR                 0
AVG_PUTT                0
AVG_SG_ATG              0
AVG_SG_PUTTING          0
AVG_SG_TOTAL           50
AVG_SG_TTG              0
PAR_5_AVG               0
PAR_4_AVG               0
PAR_3_AVG               0
WINS                   43
TOP10                  43
YEAR                    0
FEDEX_POINTS            1
MONEY                   1
dtype: int64

In [385]:
# IMPORTANTE, COMO ESTA TEMPORADA AUN NO HA ACABADO, HAY 50 PLAYERS QUE NO TIENEN AVG_SG_TOTAL Y ES UNA ESTADISTICA RELEVANTE, POR ESO VAMOS A APLICAR A ESOS NAN EL VARLO MEDIO

# Calcular el valor medio de la columna AVG_SG_TOTAL sin incluir los NaN
avg_sg_total_mean = data_frame['AVG_SG_TOTAL'].mean(skipna=True)

# Reemplazar los NaN por el valor medio calculado
data_frame['AVG_SG_TOTAL'].fillna(avg_sg_total_mean, inplace=True)

# Reemplazamos el resto de nan por 0, por que son vairiables numericas

In [386]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID               0
PLAYER_NAME             0
TOTAL_ROUNDS            0
AVG_FAIRWAY             0
AVG_SCRAMBLING          0
AVG_TOTAL_FOR_ROUND     0
AVG_DRIVER_DISTANCE     0
AVG_SG_APPROACH         0
AVG_GIR                 0
AVG_PUTT                0
AVG_SG_ATG              0
AVG_SG_PUTTING          0
AVG_SG_TOTAL            0
AVG_SG_TTG              0
PAR_5_AVG               0
PAR_4_AVG               0
PAR_3_AVG               0
WINS                   43
TOP10                  43
YEAR                    0
FEDEX_POINTS            1
MONEY                   1
dtype: int64

In [387]:
# Reemplazar los valores NaN por 0 en todo el DataFrame
data_frame = data_frame.fillna(0)

# Mostrar el DataFrame con los valores NaN reemplazados por 0
print(data_frame)

     PLAYER_ID        PLAYER_NAME  TOTAL_ROUNDS AVG_FAIRWAY AVG_SCRAMBLING  \
0        46046  Scottie Scheffler            80      62.28%         63.90%
1        28237       Rory McIlroy            56      54.65%         60.37%
2        46970           Jon Rahm            63      55.89%         62.01%
3        35450    Patrick Cantlay            64      65.87%         63.53%
4        30911    Tommy Fleetwood            66      60.97%         65.20%
..         ...                ...           ...         ...            ...
183      33410      Andrew Landry            63      64.28%         59.86%
184      27095        Nick Watney            62      47.75%         53.72%
185      32662     Michael Gligic            59      51.11%         54.10%
186      28420         Ryan Brehm            74      47.41%         53.89%
187      51491   Brandon Matthews            55      51.39%         50.43%

     AVG_TOTAL_FOR_ROUND  AVG_DRIVER_DISTANCE  AVG_SG_APPROACH AVG_GIR  \
0                 68.598                310.1            1.258  74.03%
1                 68.808                325.8            0.854  67.46%
2                 68.811                313.3            0.901  70.99%
3                 69.206                307.7            0.488  69.53%
4                 69.210                302.2            0.426  63.72%
..                   ...                  ...              ...     ...
183               72.653                288.8           -0.964  61.99%
184               72.665                297.1           -0.100  62.63%
185               72.683                305.4           -0.568  63.28%
186               72.692                309.2           -0.471  63.36%
187               72.951                321.2           -0.033  64.55%

     AVG_PUTT  ...  AVG_SG_TOTAL  AVG_SG_TTG  PAR_5_AVG  PAR_4_AVG  PAR_3_AVG  \
0       1.730  ...      1.677000       2.690       4.45       3.92       2.98
1       1.731  ...      2.115000       2.110       4.55       3.96       2.98
2       1.699  ...      1.656000       1.612       4.45       3.96       2.93
3       1.722  ...      1.522000       1.585       4.44       3.93       3.08
4       1.704  ...      1.050000       1.329       4.54       3.99       3.01
..        ...  ...           ...         ...        ...        ...        ...
183     1.781  ...      0.279949      -1.558       4.68       4.06       3.19
184     1.783  ...     -0.914000      -1.667       4.76       4.11       3.08
185     1.811  ...     -0.101000      -1.117       4.70       4.11       3.09
186     1.790  ...      0.279949      -1.308       4.64       4.10       3.16
187     1.809  ...      0.279949      -0.941       4.62       4.13       3.17

     WINS  TOP10  YEAR  FEDEX_POINTS      MONEY
0     2.0   15.0  2022        3146.0  $19254342
1     2.0   11.0  2022        2304.0  $12931008
2     4.0   10.0  2022        3320.0  $16383608
3     0.0    9.0  2022        1443.0  $10040998
4     0.0    8.0  2022        1184.0   $6330891
..    ...    ...   ...           ...        ...
183   0.0    0.0  2022          49.0    $202939
184   0.0    0.0  2022          96.0    $251700
185   0.0    0.0  2022          63.0    $151491
186   0.0    0.0  2022         155.0    $527745
187   0.0    1.0  2022         101.0    $265711

[188 rows x 22 columns]

In [388]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID              0
PLAYER_NAME            0
TOTAL_ROUNDS           0
AVG_FAIRWAY            0
AVG_SCRAMBLING         0
AVG_TOTAL_FOR_ROUND    0
AVG_DRIVER_DISTANCE    0
AVG_SG_APPROACH        0
AVG_GIR                0
AVG_PUTT               0
AVG_SG_ATG             0
AVG_SG_PUTTING         0
AVG_SG_TOTAL           0
AVG_SG_TTG             0
PAR_5_AVG              0
PAR_4_AVG              0
PAR_3_AVG              0
WINS                   0
TOP10                  0
YEAR                   0
FEDEX_POINTS           0
MONEY                  0
dtype: int64

In [389]:
data_frame2022 = data_frame

In [393]:
# Ruta para guardar el archivo CSV
ruta_guardado = r'C:\Users\kikot\Desktop\TFM GOLF\data_frame2022.csv'

# Exportar el DataFrame a un archivo CSV en la ruta especificada
data_frame2022.to_csv(ruta_guardado, index=False)

In [394]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID              0
PLAYER_NAME            0
TOTAL_ROUNDS           0
AVG_FAIRWAY            0
AVG_SCRAMBLING         0
AVG_TOTAL_FOR_ROUND    0
AVG_DRIVER_DISTANCE    0
AVG_SG_APPROACH        0
AVG_GIR                0
AVG_PUTT               0
AVG_SG_ATG             0
AVG_SG_PUTTING         0
AVG_SG_TOTAL           0
AVG_SG_TTG             0
PAR_5_AVG              0
PAR_4_AVG              0
PAR_3_AVG              0
WINS                   0
TOP10                  0
YEAR                   0
FEDEX_POINTS           0
MONEY                  0
dtype: int64

In [395]:
import pandas as pd

# Definir la ruta de los archivos CSV
ruta = 'C:/Users/kikot/Desktop/TFM GOLF/'

# Leer los archivos CSV y crear los DataFrames
data_frame2019 = pd.read_csv(ruta + 'data_frame2019.csv')
data_frame2020 = pd.read_csv(ruta + 'data_frame2020.csv')
data_frame2021 = pd.read_csv(ruta + 'data_frame2021.csv')
data_frame2022 = pd.read_csv(ruta + 'data_frame2022.csv')

# Concatenar los DataFrames en uno solo
DF_Definitivo = pd.concat([data_frame2019, data_frame2020, data_frame2021, data_frame2022], ignore_index=True)

# Mostrar el DataFrame resultante
print(DF_Definitivo)

     PLAYER_ID        PLAYER_NAME  TOTAL_ROUNDS AVG_FAIRWAY AVG_SCRAMBLING  \
0        29221       Webb Simpson            52       67.42          64.47
1        46970           Jon Rahm            58       63.16          64.52
2        33448      Justin Thomas            66       57.53          63.16
3        28237       Rory McIlroy            60       55.73          60.63
4        48081  Xander Schauffele            70        59.6          66.49
..         ...                ...           ...         ...            ...
763      33410      Andrew Landry            63      64.28%         59.86%
764      27095        Nick Watney            62      47.75%         53.72%
765      32662     Michael Gligic            59      51.11%         54.10%
766      28420         Ryan Brehm            74      47.41%         53.89%
767      51491   Brandon Matthews            55      51.39%         50.43%

     AVG_TOTAL_FOR_ROUND  AVG_DRIVER_DISTANCE  AVG_SG_APPROACH AVG_GIR  \
0                 68.978                296.2            0.640   70.83
1                 69.127                307.6            0.283   70.31
2                 69.128                304.2            0.997   69.61
3                 69.219                314.0            0.504   67.78
4                 69.227                305.4            0.366   70.87
..                   ...                  ...              ...     ...
763               72.653                288.8           -0.964  61.99%
764               72.665                297.1           -0.100  62.63%
765               72.683                305.4           -0.568  63.28%
766               72.692                309.2           -0.471  63.36%
767               72.951                321.2           -0.033  64.55%

     AVG_PUTT  ...  AVG_SG_TOTAL  AVG_SG_TTG  PAR_5_AVG  PAR_4_AVG  PAR_3_AVG  \
0       1.691  ...      1.597000       1.007       4.52       3.89       2.97
1       1.717  ...      1.823000       1.344       4.46       3.95       2.99
2       1.722  ...      1.709000       1.741       4.48       3.93       3.04
3       1.738  ...      1.243000       1.314       4.54       3.96       3.01
4       1.737  ...      1.605000       1.239       4.45       3.94       3.09
..        ...  ...           ...         ...        ...        ...        ...
763     1.781  ...      0.279949      -1.558       4.68       4.06       3.19
764     1.783  ...     -0.914000      -1.667       4.76       4.11       3.08
765     1.811  ...     -0.101000      -1.117       4.70       4.11       3.09
766     1.790  ...      0.279949      -1.308       4.64       4.10       3.16
767     1.809  ...      0.279949      -0.941       4.62       4.13       3.17

     WINS  TOP10  YEAR  FEDEX_POINTS     MONEY
0     2.0    8.0  2019        1878.0  $5097742
1     2.0    8.0  2019        1295.0  $5959819
2     3.0   10.0  2019        2458.0  $7344040
3     1.0    7.0  2019        1327.0  $4408415
4     3.0    7.0  2019        1258.0  $3813636
..    ...    ...   ...           ...       ...
763   0.0    0.0  2022          49.0   $202939
764   0.0    0.0  2022          96.0   $251700
765   0.0    0.0  2022          63.0   $151491
766   0.0    0.0  2022         155.0   $527745
767   0.0    1.0  2022         101.0   $265711

[768 rows x 22 columns]

In [396]:
# Ruta para guardar el archivo CSV
ruta_guardado = r'C:\Users\kikot\Desktop\TFM GOLF\DF_Definitivo.csv'

# Exportar el DataFrame a un archivo CSV en la ruta especificada
DF_Definitivo.to_csv(ruta_guardado, index=False)