In [145]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\NAME AVG ROUNDS YEAR.csv'

# Cargar el archivo CSV en un DataFrame
data_frame = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frame.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL STROKES,TOTAL ADJUSTMENT,TOTAL ROUNDS
0,1,0,29221,Webb Simpson,68.978,3539,47.881,52
1,2,1,46970,Jon Rahm,69.127,3991,18.356,58
2,3,2,33448,Justin Thomas,69.128,4538,24.461,66
3,4,2,28237,Rory McIlroy,69.219,4146,7.155,60
4,5,2,48081,Xander Schauffele,69.227,4832,13.902,70

In [146]:
# Agregar la columna "YEAR" con el valor "2020"
data_frame['YEAR'] = 2019

In [147]:
# Seleccionar solo las columnas que deseas mantener
columns_to_keep = ['PLAYER_ID', 'PLAYER', 'AVG', 'TOTAL ROUNDS', 'YEAR']
data_frame = data_frame.loc[:, columns_to_keep]

In [148]:
data_frame.head()

   PLAYER_ID             PLAYER     AVG  TOTAL ROUNDS  YEAR
0      29221       Webb Simpson  68.978            52  2019
1      46970           Jon Rahm  69.127            58  2019
2      33448      Justin Thomas  69.128            66  2019
3      28237       Rory McIlroy  69.219            60  2019
4      48081  Xander Schauffele  69.227            70  2019

In [149]:
# Ahora vamos ir cargando diferentes DF y vamos a ir ensamblando por a√±o las estafisticas que necesitamos

# Primero voy a ir poniendo nombres a las columnas para que no haya confusiones

data_frame.rename(columns={'AVG': 'AVG_TOTAL_FOR_ROUND'}, inplace=True)
data_frame.rename(columns={'PLAYER': 'PLAYER_NAME'}, inplace=True)
data_frame.rename(columns={'TOTAL ROUNDS': 'TOTAL_ROUNDS'}, inplace=True)

In [150]:
data_frame.head()

   PLAYER_ID        PLAYER_NAME  AVG_TOTAL_FOR_ROUND  TOTAL_ROUNDS  YEAR
0      29221       Webb Simpson               68.978            52  2019
1      46970           Jon Rahm               69.127            58  2019
2      33448      Justin Thomas               69.128            66  2019
3      28237       Rory McIlroy               69.219            60  2019
4      48081  Xander Schauffele               69.227            70  2019

In [151]:
# VAMOS A INCORPORAR LA ESTADISTICA AVG DRIVER DISTANCE

In [152]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\DRIVING DISTANCE AVG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameDD = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameDD.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL DISTANCE,TOTAL DRIVES
0,1,0,47959,Bryson DeChambeau,322.1,39945,124
1,2,0,52372,Cameron Champ,322.0,45082,140
2,3,0,28420,Ryan Brehm,315.3,31527,100
3,4,0,28237,Rory McIlroy,314.0,32660,104
4,5,0,34213,Grayson Murray,313.8,22591,72

In [153]:
data_frameDD = data_frameDD[['PLAYER_ID', 'AVG']]

In [154]:
data_frameDD.rename(columns={'AVG': 'AVG_DRIVER_DISTANCE'}, inplace=True)

In [155]:
data_frameDD.head()

   PLAYER_ID  AVG_DRIVER_DISTANCE
0      47959                322.1
1      52372                322.0
2      28420                315.3
3      28237                314.0
4      34213                313.8

In [156]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameDD, on='PLAYER_ID', how='left')

In [157]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE
0,29221,Webb Simpson,68.978,52,2019,296.2
1,46970,Jon Rahm,69.127,58,2019,307.6
2,33448,Justin Thomas,69.128,66,2019,304.2
3,28237,Rory McIlroy,69.219,60,2019,314.0
4,48081,Xander Schauffele,69.227,70,2019,305.4

In [158]:
# VAMOS A INCORPORAR LA ESTADISTICA AVG FAIRWAY PERCENTAJE

In [159]:
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\FAIRWAY PERCENTAJE 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameFP = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameFP.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,FAIRWAYS HIT,POSSIBLE FAIRWAYS,RELATIVE TO PAR
0,1,0,10809,Jim Furyk,73.96,372,503,-0.16
1,2,0,19803,Ryan Armour,73.77,464,629,-0.14
2,3,0,30927,Brendon Todd,71.84,755,1051,-0.16
3,4,0,33404,Chris Baker,70.56,326,462,-0.16
4,5,0,31560,Brian Stuard,70.28,629,895,-0.16

In [160]:
data_frameFP.rename(columns={'%': 'AVG_FAIRWAY'}, inplace=True)

In [161]:
data_frameFP = data_frameFP[['PLAYER_ID', 'AVG_FAIRWAY']]

In [162]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameFP, on='PLAYER_ID', how='left')

In [163]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60

In [164]:
# VAMOS A INCORPORAR LA ESTADISTICA PEDEX POINTS

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\FEDEX 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameFPOINTS = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameFPOINTS.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,POINTS,# OF WINS,# OF TOP 10'S,POINTS BEHIND LEAD
0,1,0,33448,Justin Thomas,2458,3,9,0.0
1,2,0,50525,Collin Morikawa,1902,2,6,556.0
2,3,0,29221,Webb Simpson,1878,2,7,580.0
3,4,0,47959,Bryson DeChambeau,1657,1,9,801.0
4,5,0,39971,Sungjae Im,1633,1,7,825.0

In [165]:
data_frameFPOINTS.rename(columns={'POINTS': 'FEDEX_POINTS'}, inplace=True)

In [166]:
data_frameFPOINTS = data_frameFPOINTS[['PLAYER_ID', 'FEDEX_POINTS']]

In [167]:
# ENSAMBLAMOS EL DRIVER DISTANCE DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameFPOINTS, on='PLAYER_ID', how='left')

In [168]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0

In [169]:
# VAMOS A INCORPORAR LA ESTADISTICA GREEN IN REGULATIONS

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\GIR 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameGIR = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameGIR.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,GREENS HIT,# HOLES,RELATIVE/PAR
0,1,0,10809,Jim Furyk,74.22,521,702,-0.22
1,2,0,30110,Kyle Stanley,72.54,692,954,-0.25
2,3,0,49964,Aaron Wise,72.10,584,810,-0.24
3,4,0,56762,Will Gordon,71.70,413,576,-0.27
4,5,0,34098,Russell Henley,71.69,813,1134,-0.25

In [170]:
data_frameGIR.rename(columns={'%': 'AVG_GIR'}, inplace=True)

In [171]:
data_frameGIR = data_frameGIR[['PLAYER_ID', 'AVG_GIR']]

In [172]:
# ENSAMBLAMOS EL GIR DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameGIR, on='PLAYER_ID', how='left')

In [173]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87

In [174]:
# VAMOS A INCORPORAR LA ESTADISTICA MONEY

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\MONEY 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameMO = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameMO.head()

   RANK  MOVEMENT  PLAYER_ID           PLAYER     MONEY  YTD VICTORIES
0     1         0      33448    Justin Thomas  $7344040            3.0
1     2         0      46970         Jon Rahm  $5959819            2.0
2     3         0      30925   Dustin Johnson  $5837267            3.0
3     4         0      50525  Collin Morikawa  $5250868            2.0
4     5         0      29221     Webb Simpson  $5097742            2.0

In [175]:
data_frameMO = data_frameMO[['PLAYER_ID', 'MONEY']]

In [176]:
# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameMO, on='PLAYER_ID', how='left')

In [177]:
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636

In [178]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 3

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\P3 AVG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP3 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP3.head()

   RANK  MOVEMENT  PLAYER_ID           PLAYER  STATUS  PAR 3 AVG  TOTAL PAR
0     1         0      49771      J.T. Poston     -19       2.94       9.36
1     2         0      34099   Harris English     -17       2.94       9.12
2     3        -1      47128   Richy Werenski     -15       2.93       6.75
3     4         1      29268  Bronson Burgoon     -10       2.95       6.36
4     5        -1      45526    Abraham Ancer      -8       2.97       9.00

In [179]:
data_frameP3.rename(columns={'PAR 3 AVG': 'PAR_3_AVG'}, inplace=True)
data_frameP3 = data_frameP3[['PLAYER_ID', 'PAR_3_AVG']]

In [180]:
# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP3, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09

In [181]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 4

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\P4 AVG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP4 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP4.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER STATUS  PAR 4 AVG  TOTAL PAR
0     1         0      29221       Webb Simpson    -63       3.89      23.60
1     2         1      33448      Justin Thomas    -54       3.93      29.20
2     3        -1      47959  Bryson DeChambeau    -49       3.93      27.76
3     4         1      48081  Xander Schauffele    -47       3.94      30.88
4     5         2      34360       Patrick Reed    -44       3.95      32.72

In [182]:
data_frameP4.rename(columns={'PAR 4 AVG': 'PAR_4_AVG'}, inplace=True)
data_frameP4 = data_frameP4[['PLAYER_ID', 'PAR_4_AVG']]

# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP4, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94

In [183]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PARES 5

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\P5 AVG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameP5 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameP5.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER  STATUS  PAR 5 AVG  TOTAL PAR
0     1         0      39971         Sungjae Im    -128       4.55       14.1
1     2         0      35310      Lanto Griffin    -124       4.57       14.3
2     3         1      50525    Collin Morikawa    -116       4.52       12.1
3     4        -1      36699    Patrick Rodgers    -114       4.61       14.6
4     4         2      48081  Xander Schauffele    -114       4.45       10.4

In [184]:
data_frameP5.rename(columns={'PAR 5 AVG': 'PAR_5_AVG'}, inplace=True)
data_frameP5 = data_frameP5[['PLAYER_ID', 'PAR_5_AVG']]

# ENSAMBLAMOS EL MONEY DENTRO DEL DATA FRAME INICIAL

data_frame = data_frame.merge(data_frameP5, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45

In [185]:
# VAMOS A INCORPORAR LA ESTADISTICA DE PUTT AVERAGE

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\PUTT AVG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_framePAVG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_framePAVG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,GIR PUTTS,GREENS HIT,BIRDIE CONVERSION
0,1,0,29221,Webb Simpson,1.691,1121,663,36.31
1,2,0,34360,Patrick Reed,1.700,1479,870,35.37
2,3,0,34363,Tyrrell Hatton,1.704,893,524,34.42
3,3,1,30925,Dustin Johnson,1.704,1041,611,35.20
4,5,0,40009,Dominic Bozzelli,1.708,697,408,36.61

In [186]:
data_framePAVG.rename(columns={'AVG': 'AVG_PUTT'}, inplace=True)

In [187]:
data_framePAVG = data_framePAVG[['PLAYER_ID', 'AVG_PUTT']]

In [188]:
# ENSAMBLAMOS EL AVG_PUTT DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_framePAVG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52,1.691
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46,1.717
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48,1.722
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54,1.738
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45,1.737

In [189]:
# VAMOS A INCORPORAR LA ESTADISTICA SCRAMBLING PROMEDIO

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\SCAVG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSCAVG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSCAVG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,%,PAR OR BETTER,MISSED GIR
0,1,0,40026,Daniel Berger,67.45,257,381
1,2,2,48081,Xander Schauffele,66.49,244,367
2,3,-1,30927,Brendon Todd,66.10,353,534
3,4,1,25396,Kevin Na,65.96,310,470
4,5,1,34098,Russell Henley,65.42,210,321

In [190]:
data_frameSCAVG.rename(columns={'%': 'AVG_SCRAMBLING'}, inplace=True)
data_frameSCAVG = data_frameSCAVG[['PLAYER_ID', 'AVG_SCRAMBLING']]

In [191]:
# ENSAMBLAMOS EL AVG_PUTT DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSCAVG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52,1.691,64.47
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46,1.717,64.52
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48,1.722,63.16
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54,1.738,60.63
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45,1.737,66.49

In [192]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED APPROACH THE GREEN 

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\SG APP 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGAPP = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGAPP.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:APP,MEASURED ROUNDS
0,1,0,33448,Justin Thomas,0.997,57.821,58
1,2,0,50525,Collin Morikawa,0.884,62.796,71
2,3,0,34098,Russell Henley,0.867,50.269,58
3,4,3,34363,Tyrrell Hatton,0.694,23.589,34
4,5,-1,32839,Hideki Matsuyama,0.690,42.111,61

In [193]:
data_frameSGAPP.rename(columns={'AVG': 'AVG_SG_APPROACH'}, inplace=True)
data_frameSGAPP = data_frameSGAPP[['PLAYER_ID', 'AVG_SG_APPROACH']]

In [194]:
# ENSAMBLAMOS EL AVG_SG_APPROACH DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGAPP, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52,1.691,64.47,0.640
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46,1.717,64.52,0.283
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48,1.722,63.16,0.997
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54,1.738,60.63,0.504
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45,1.737,66.49,0.366

In [195]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED ARROUND THE GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\SG ATG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGATG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGATG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:ARG,MEASURED ROUNDS
0,1,0,28089,Jason Day,0.632,25.287,40
1,2,1,27942,Rob Oppenheim,0.536,24.106,45
2,3,1,22371,Aaron Baddeley,0.520,19.257,37
3,4,1,27649,Brandt Snedeker,0.514,25.685,50
4,5,1,32839,Hideki Matsuyama,0.458,27.951,61

In [196]:
data_frameSGATG.rename(columns={'AVG': 'AVG_SG_ATG'}, inplace=True)
data_frameSGATG = data_frameSGATG[['PLAYER_ID', 'AVG_SG_ATG']]

In [197]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGATG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52,1.691,64.47,0.640,0.244
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46,1.717,64.52,0.283,0.304
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48,1.722,63.16,0.997,0.339
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54,1.738,60.63,0.504,0.108
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45,1.737,66.49,0.366,0.225

In [198]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED ARROUND THE GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\SG PUTT 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSPUTT = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSPUTT.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:PUTTING,MEASURED ROUNDS
0,1,0,47993,Denny McCarthy,0.988,64.205,65
1,2,0,40098,Matt Fitzpatrick,0.880,38.741,44
2,3,0,34256,Andrew Putnam,0.841,26.925,32
3,4,3,35658,Kris Ventura,0.694,19.419,28
4,5,1,25396,Kevin Na,0.693,40.883,59

In [199]:
data_frameSPUTT.rename(columns={'AVG': 'AVG_SG_PUTTING'}, inplace=True)
data_frameSPUTT = data_frameSPUTT[['PLAYER_ID', 'AVG_SG_PUTTING']]

In [200]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSPUTT, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52,1.691,64.47,0.640,0.244,0.589
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46,1.717,64.52,0.283,0.304,0.479
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48,1.722,63.16,0.997,0.339,-0.031
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54,1.738,60.63,0.504,0.108,-0.071
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45,1.737,66.49,0.366,0.225,0.366

In [201]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED TOTAL

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\SG TOTAL 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGTOT = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGTOT.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,TOTAL SG:T,TOTAL SG:T2G,TOTAL SG:P,MEASURED ROUNDS
0,1,0,46970,Jon Rahm,1.823,103.920,76.597,27.326,57
1,2,2,33448,Justin Thomas,1.709,99.147,100.966,-1.816,58
2,3,4,48081,Xander Schauffele,1.605,97.935,75.582,22.355,61
3,4,-1,29221,Webb Simpson,1.597,81.422,51.369,30.056,51
4,5,-3,47959,Bryson DeChambeau,1.566,97.074,56.300,40.776,62

In [202]:
data_frameSGTOT.rename(columns={'AVG': 'AVG_SG_TOTAL'}, inplace=True)
data_frameSGTOT = data_frameSGTOT[['PLAYER_ID', 'AVG_SG_TOTAL']]

In [203]:
# ENSAMBLAMOS EL AVG_SG_ATG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGTOT, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52,1.691,64.47,0.640,0.244,0.589,1.597
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46,1.717,64.52,0.283,0.304,0.479,1.823
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48,1.722,63.16,0.997,0.339,-0.031,1.709
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54,1.738,60.63,0.504,0.108,-0.071,1.243
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45,1.737,66.49,0.366,0.225,0.366,1.605

In [204]:
# VAMOS A INCORPORAR LA ESTADISTICA STROKES GAINED TEE TO GREEN

import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\SG TTG 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameSGTTG = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameSGTTG.head()

,RANK,MOVEMENT,PLAYER_ID,PLAYER,AVG,SG:OTT,SG:APR,SG:ARG,MEASURED ROUNDS
0,1,0,33448,Justin Thomas,1.741,0.405,0.997,0.339,58
1,2,0,32839,Hideki Matsuyama,1.433,0.285,0.690,0.458,61
2,3,2,46970,Jon Rahm,1.344,0.756,0.283,0.304,57
3,4,2,21209,Sergio Garcia,1.336,0.848,0.181,0.308,32
4,5,-1,50525,Collin Morikawa,1.330,0.440,0.884,0.005,71

In [205]:
data_frameSGTTG

data_frameSGTTG.rename(columns={'AVG': 'AVG_SG_TTG'}, inplace=True)
data_frameSGTTG = data_frameSGTTG[['PLAYER_ID', 'AVG_SG_TTG']]

In [206]:
# ENSAMBLAMOS EL AVG_SG_TTG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameSGTTG, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,PAR_3_AVG,PAR_4_AVG,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL,AVG_SG_TTG
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,2.97,3.89,4.52,1.691,64.47,0.640,0.244,0.589,1.597,1.007
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,2.99,3.95,4.46,1.717,64.52,0.283,0.304,0.479,1.823,1.344
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,3.04,3.93,4.48,1.722,63.16,0.997,0.339,-0.031,1.709,1.741
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,3.01,3.96,4.54,1.738,60.63,0.504,0.108,-0.071,1.243,1.314
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,3.09,3.94,4.45,1.737,66.49,0.366,0.225,0.366,1.605,1.239

In [207]:
# VAMOS A INCORPORAR LA ESTADISTICA TOP 10 Y WININGS
import pandas as pd

# Ruta al archivo CSV
csv_file_path = r'C:\Users\kikot\Desktop\TFM GOLF\2019\TOP 10 2019.csv'

# Cargar el archivo CSV en un DataFrame
data_frameTOP10 = pd.read_csv(csv_file_path)

# Mostrar las primeras filas del DataFrame
data_frameTOP10.head()

   RANK  MOVEMENT  PLAYER_ID             PLAYER  TOP 10  1ST  2ND  3RD
0     1         0      33448      Justin Thomas      10  3.0  2.0  1.0
1     2        -1      47959  Bryson DeChambeau       9  1.0  1.0  1.0
2     3         1      46970           Jon Rahm       8  2.0  1.0  1.0
3     3         1      34360       Patrick Reed       8  1.0  1.0  NaN
4     3         0      29221       Webb Simpson       8  2.0  1.0  2.0

In [208]:
data_frameTOP10.rename(columns={'1ST': 'WINS'}, inplace=True)
data_frameTOP10.rename(columns={'TOP 10': 'TOP10'}, inplace=True)
data_frameTOP10 = data_frameTOP10[['PLAYER_ID', 'WINS', 'TOP10']]

In [209]:
# ENSAMBLAMOS EL AVG_SG_TTG DENTRO DEL DF INICIAL

data_frame = data_frame.merge(data_frameTOP10, on='PLAYER_ID', how='left')
data_frame.head()

,PLAYER_ID,PLAYER_NAME,AVG_TOTAL_FOR_ROUND,TOTAL_ROUNDS,YEAR,AVG_DRIVER_DISTANCE,AVG_FAIRWAY,FEDEX_POINTS,AVG_GIR,MONEY,...,PAR_5_AVG,AVG_PUTT,AVG_SCRAMBLING,AVG_SG_APPROACH,AVG_SG_ATG,AVG_SG_PUTTING,AVG_SG_TOTAL,AVG_SG_TTG,WINS,TOP10
0,29221,Webb Simpson,68.978,52,2019,296.2,67.42,1878.0,70.83,$5097742,...,4.52,1.691,64.47,0.640,0.244,0.589,1.597,1.007,2.0,8.0
1,46970,Jon Rahm,69.127,58,2019,307.6,63.16,1295.0,70.31,$5959819,...,4.46,1.717,64.52,0.283,0.304,0.479,1.823,1.344,2.0,8.0
2,33448,Justin Thomas,69.128,66,2019,304.2,57.53,2458.0,69.61,$7344040,...,4.48,1.722,63.16,0.997,0.339,-0.031,1.709,1.741,3.0,10.0
3,28237,Rory McIlroy,69.219,60,2019,314.0,55.73,1327.0,67.78,$4408415,...,4.54,1.738,60.63,0.504,0.108,-0.071,1.243,1.314,1.0,7.0
4,48081,Xander Schauffele,69.227,70,2019,305.4,59.60,1258.0,70.87,$3813636,...,4.45,1.737,66.49,0.366,0.225,0.366,1.605,1.239,3.0,7.0

In [210]:
# Define el orden deseado de las columnas
column_order = ['PLAYER_ID', 'PLAYER_NAME', 'TOTAL_ROUNDS', 'AVG_FAIRWAY', 'AVG_SCRAMBLING', 'AVG_TOTAL_FOR_ROUND', 'AVG_DRIVER_DISTANCE','AVG_SG_APPROACH', 'AVG_GIR', 'AVG_PUTT', 'AVG_SG_ATG', 'AVG_SG_PUTTING', 'AVG_SG_TOTAL', 'AVG_SG_TTG','PAR_5_AVG','PAR_4_AVG','PAR_3_AVG', 'WINS', 'TOP10', 'YEAR', 'FEDEX_POINTS', 'MONEY']

# Reordena las columnas en el DataFrame
data_frame = data_frame[column_order]

# Mostrar el DataFrame con las columnas ordenadas
data_frame.head()

,PLAYER_ID,PLAYER_NAME,TOTAL_ROUNDS,AVG_FAIRWAY,AVG_SCRAMBLING,AVG_TOTAL_FOR_ROUND,AVG_DRIVER_DISTANCE,AVG_SG_APPROACH,AVG_GIR,AVG_PUTT,...,AVG_SG_TOTAL,AVG_SG_TTG,PAR_5_AVG,PAR_4_AVG,PAR_3_AVG,WINS,TOP10,YEAR,FEDEX_POINTS,MONEY
0,29221,Webb Simpson,52,67.42,64.47,68.978,296.2,0.640,70.83,1.691,...,1.597,1.007,4.52,3.89,2.97,2.0,8.0,2019,1878.0,$5097742
1,46970,Jon Rahm,58,63.16,64.52,69.127,307.6,0.283,70.31,1.717,...,1.823,1.344,4.46,3.95,2.99,2.0,8.0,2019,1295.0,$5959819
2,33448,Justin Thomas,66,57.53,63.16,69.128,304.2,0.997,69.61,1.722,...,1.709,1.741,4.48,3.93,3.04,3.0,10.0,2019,2458.0,$7344040
3,28237,Rory McIlroy,60,55.73,60.63,69.219,314.0,0.504,67.78,1.738,...,1.243,1.314,4.54,3.96,3.01,1.0,7.0,2019,1327.0,$4408415
4,48081,Xander Schauffele,70,59.60,66.49,69.227,305.4,0.366,70.87,1.737,...,1.605,1.239,4.45,3.94,3.09,3.0,7.0,2019,1258.0,$3813636

In [211]:
num_rows, num_columns = data_frame.shape
print("N√∫mero de filas:", num_rows)
print("N√∫mero de columnas:", num_columns)

N√∫mero de filas: 193
N√∫mero de columnas: 22

In [212]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID                0
PLAYER_NAME              0
TOTAL_ROUNDS             0
AVG_FAIRWAY              0
AVG_SCRAMBLING           0
AVG_TOTAL_FOR_ROUND      0
AVG_DRIVER_DISTANCE      0
AVG_SG_APPROACH          0
AVG_GIR                  0
AVG_PUTT                 0
AVG_SG_ATG               0
AVG_SG_PUTTING           0
AVG_SG_TOTAL             0
AVG_SG_TTG               0
PAR_5_AVG                0
PAR_4_AVG                0
PAR_3_AVG                0
WINS                   108
TOP10                   43
YEAR                     0
FEDEX_POINTS             1
MONEY                    1
dtype: int64

In [213]:
# Reemplazar los valores NaN por 0 en todo el DataFrame
data_frame = data_frame.fillna(0)

# Mostrar el DataFrame con los valores NaN reemplazados por 0
print(data_frame)

     PLAYER_ID        PLAYER_NAME  TOTAL_ROUNDS  AVG_FAIRWAY  AVG_SCRAMBLING  \
0        29221       Webb Simpson            52        67.42           64.47
1        46970           Jon Rahm            58        63.16           64.52
2        33448      Justin Thomas            66        57.53           63.16
3        28237       Rory McIlroy            60        55.73           60.63
4        48081  Xander Schauffele            70        59.60           66.49
..         ...                ...           ...          ...             ...
188      40009   Dominic Bozzelli            36        51.69           54.17
189      35230     Nelson Ledesma            40        51.21           56.88
190      28307         Matt Every            45        58.73           48.76
191      23623        Bo Van Pelt            43        60.70           49.26
192      35617     Martin Trainer            46        48.70           51.13

     AVG_TOTAL_FOR_ROUND  AVG_DRIVER_DISTANCE  AVG_SG_APPROACH  AVG_GIR  \
0                 68.978                296.2            0.640    70.83
1                 69.127                307.6            0.283    70.31
2                 69.128                304.2            0.997    69.61
3                 69.219                314.0            0.504    67.78
4                 69.227                305.4            0.366    70.87
..                   ...                  ...              ...      ...
188               72.277                299.0           -0.393    62.96
189               72.579                298.2           -0.645    62.64
190               72.589                292.3           -0.400    65.06
191               73.586                291.7           -1.060    65.12
192               74.865                302.1           -2.115    52.05

     AVG_PUTT  ...  AVG_SG_TOTAL  AVG_SG_TTG  PAR_5_AVG  PAR_4_AVG  PAR_3_AVG  \
0       1.691  ...         1.597       1.007       4.52       3.89       2.97
1       1.717  ...         1.823       1.344       4.46       3.95       2.99
2       1.722  ...         1.709       1.741       4.48       3.93       3.04
3       1.738  ...         1.243       1.314       4.54       3.96       3.01
4       1.737  ...         1.605       1.239       4.45       3.94       3.09
..        ...  ...           ...         ...        ...        ...        ...
188     1.708  ...        -0.963      -1.463       4.77       4.05       3.03
189     1.761  ...        -1.835      -1.773       4.67       4.08       3.14
190     1.769  ...        -1.766      -1.130       4.74       4.07       3.19
191     1.827  ...        -2.460      -1.676       4.77       4.16       3.11
192     1.810  ...        -3.454      -3.129       4.74       4.24       3.31

     WINS  TOP10  YEAR  FEDEX_POINTS     MONEY
0     2.0    8.0  2019        1878.0  $5097742
1     2.0    8.0  2019        1295.0  $5959819
2     3.0   10.0  2019        2458.0  $7344040
3     1.0    7.0  2019        1327.0  $4408415
4     3.0    7.0  2019        1258.0  $3813636
..    ...    ...   ...           ...       ...
188   0.0    1.0  2019         112.0   $272865
189   0.0    0.0  2019          27.0    $45520
190   0.0    0.0  2019          94.0   $202546
191   0.0    0.0  2019          15.0    $50838
192   0.0    0.0  2019          31.0    $89482

[193 rows x 22 columns]

In [214]:
data_frame2019= data_frame

In [217]:
# Ruta para guardar el archivo CSV
ruta_guardado = r'C:\Users\kikot\Desktop\TFM GOLF\data_frame2019.csv'

# Exportar el DataFrame a un archivo CSV en la ruta especificada
data_frame2019.to_csv(ruta_guardado, index=False)

In [216]:
# Contar el n√∫mero de valores NaN en cada columna
num_nans_per_column = data_frame.isna().sum()

# Mostrar el n√∫mero de valores NaN por columna
print(num_nans_per_column)

PLAYER_ID              0
PLAYER_NAME            0
TOTAL_ROUNDS           0
AVG_FAIRWAY            0
AVG_SCRAMBLING         0
AVG_TOTAL_FOR_ROUND    0
AVG_DRIVER_DISTANCE    0
AVG_SG_APPROACH        0
AVG_GIR                0
AVG_PUTT               0
AVG_SG_ATG             0
AVG_SG_PUTTING         0
AVG_SG_TOTAL           0
AVG_SG_TTG             0
PAR_5_AVG              0
PAR_4_AVG              0
PAR_3_AVG              0
WINS                   0
TOP10                  0
YEAR                   0
FEDEX_POINTS           0
MONEY                  0
dtype: int64